.label {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
}

.scroll-pane {
    -fx-background-color: linear-gradient(to bottom, #0A1F44, #081830);
    -fx-border-color: #1E90FF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.grid-pane-border {
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.hbox-border {
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-style: dashed;
}

.searching-text {
    -fx-fill: white;
    -fx-background-color: transparent;
}

.save-button {
    -fx-background-color: #0099FF;
    -fx-text-fill: white;
}

.save-button:hover {
    -fx-background-color: #66C2FF;
}

.clear-button {
    -fx-background-color: #CC0000;
    -fx-text-fill: white;
}

.clear-button:hover {
    -fx-background-color: #FF3333;
}

.sss-button {
    -fx-background-color: #444444;
    -fx-text-fill: white;
}

.sss-button:hover {
    -fx-background-color: #666666;
}

.list-view {
    -fx-background-color: #111;
}

.list-cell {
    -fx-background-color: #222;
    -fx-border-color: white;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #444;
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
    -fx-border-radius: 5px;
}

#cardDescriptionArea {
    -fx-background-color: transparent;
    -fx-control-inner-background: #333333;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 5;
    -fx-wrap-text: true;
}

#cardDescriptionArea .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 8;
}

#cardDescriptionArea .scroll-bar:vertical .track {
    -fx-background-color: #444444;
    -fx-background-radius: 4;
}

#cardDescriptionArea .scroll-bar:vertical .thumb {
    -fx-background-color: #6a0dad;
    -fx-background-radius: 4;
}

#cardDescriptionArea .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #8b16d9;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 8;
}

.list-view .scroll-bar:vertical .track {
    -fx-background-color: #444444;
    -fx-background-radius: 4;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #6a0dad;
    -fx-background-radius: 4;
}

.list-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #8b16d9;
}

#unshareLabel {
    -fx-font-size: 30px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-border-color: red;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
}