.label-DECKS {
    -fx-font-size: 50px;
    -fx-text-fill: white;
}

.anchorPane {
    -fx-background-color: rgba(10, 40, 80, 0.7);
    -fx-border-color: #00ffff;
    -fx-border-radius: 10;
}

.searchingField {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
    -fx-border-color: #333;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button:hover {
    -fx-background-color: #8b16d9;
}

.button {
    -fx-background-color: #6a0dad;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-border-color: #333;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-margin: 0 0 0 5px;
}

.list-cell {
    -fx-background-color: rgba(50, 50, 50, 0.8);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 15px 10px;
    -fx-min-height: 50px;
    -fx-border-color: #00ffff;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.list-cell:hover {
    -fx-background-color: #8A2BE2;
    -fx-text-fill: yellow;
}

.list-view {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-border-color: #7D26CD;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

.createdeck-label {
    -fx-background-color: rgba(10, 40, 80, 0.7);
    -fx-border-color: #00ffff;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.createdeck-text {
    -fx-background-color: rgba(10, 40, 80, 0.7);
    -fx-border-color: #00ffff;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.createdeck-button {
    -fx-background-color: rgba(10, 40, 80, 0.7);
    -fx-border-color: #00ffff;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.createdeck-pane {
    -fx-border-color: #00ffff;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 15;
}

.list-view .scroll-bar:vertical .track {
    -fx-background-color: #444444;
    -fx-background-radius: 10;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #6a0dad;
    -fx-background-radius: 10;
}

.list-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #8b16d9;
}

.label-error {
    -fx-font-size: 30px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.label-done {
    -fx-font-size: 30px;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
}
